---
---
@import "main";
@import "{{ site.theme }}";

body{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: "#222222" ;
  font-size: 15px;
}

nav {
  font-size: 30px;
  text-align: center;
  word-spacing: 1.5vw;
  padding-bottom: 20px;
}

img {
  padding-left: 5%;
  padding-bottom: 5%;
  width: 30%;
  float: right;
}

p {
  padding-top: 5px;
}

.header {
  font-size: 40px;
}

